

.NumberOfPeople-main {
    max-width: 200px;
    position: relative;
  }
  .NumberOfPeople-lable {
    position: relative;
    width: 100%;
  }
  
  .NumberOfPeople-input {
    position: relative;
    height: 30px;
    width: 100%;
  }
  .NumberOfPeople-error {
    border: solid 1px red;
  }
  .NumberOfPeople-lable-error {
    position: absolute;
    bottom: -15px;
    font-size: 8px;
    color: red;
  }
  